.Menu {
  padding-top: 20px;
}

.Menu h1 {
  font-weight: 500;
  text-align: center;
  color: orange;
  text-shadow: -1px 1px 0 orange,
                1px 1px 0 yellow,
                1px -1px 0 greenyellow,
                -1px -1px 0 red;
}

.Menu h3 {
  text-align: center;
}

.Menu_List {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.Menu_Card {
  width: 320px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.543);
  border: 1px solid white;
  position: relative;
  object-fit: cover;
}

.Menu_img {
  width: 100%;
  padding: 10px;
  object-fit: contain;
  align-content: center;
  display: flex;
  justify-content: center;
}

.Menu_img img {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.Menu_Card h1 {
  position: absolute;
}


